<h1>Lista de Posts</h1>

{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <form action="/delete/{{id}}" method="post">
        <button type="submit">Delete</button>
    </form>
    <hr>

{{/each}}

